/* Blocos */
.lg-aa-botao {
  font-size: 12px;
  padding: 10px;
  background-color: #FFF;
}

/* Elemento */
.lg-aa-botao__icone {
  font-size: 18px;
}

/* Modificadores */
.lg-aa-botao__icone--primario {
  color: blue;
}

.lg-aa-botao__icone--sucesso {
  color: green;
}

.lg-aa-botao--medio {
  font-size: 16px;
}